@import 'normalize.styl/normalize'

#game-container
    background-color: cyan
    height: 100%
    max-height: 100%
    max-width: 100%
    position: absolute
    width: 100%
    
.curtain
    height: 100%
    left: 0
    max-height: 100%
    max-width: 100%
    position: absolute
    top: 0
    width: 100%
    
#snap-stage
    display: block
    height: 100%
    margin: 0 auto
    max-height: 100%
    max-width: 400px
    position: relative
    width: 100%    
    
    .conductor
        fill: gold
        stroke: navy
        stroke-width: 12px