@import 'normalize.styl/normalize'
@import url('http://fonts.googleapis.com/css?family=Cutive');

#game-container
    background-color: lighten(yellow, 50%)
    height: 100%
    position: absolute
    width: 100%
    
.curtain
    height: 100%
    left: 0
    max-height: 100%
    max-width: 100%
    position: absolute
    top: 0
    width: 100%
    
#splash-curtain
    .game-title
        background: white
        box-shadow: 0 2px 2px darken(yellow, 10%)
        color: cyan
        font-weight: bold
        text-align: center
        margin: 10em auto 0 auto
        max-width: 80%
        padding: 0.25em 1.5em
        position: relative
        width: 400px
    
        h1
            font-family: 'Cutive', serif
            font-size: 3em
            line-height: 1.1em
            text-shadow:
                -1px -1px 0.5px rgb(190, 190, 200),
                1px 1px 0.5px white

        button.start
            background: cyan
            border: 3px solid white
            border-radius: 0.5em
            color: white
            margin: 0 0 2em 0
            padding: 0.5em
            text-transform: uppercase
            
        .hole
            background-color: rgb(255, 255, 200)
            border-radius: 1em
            box-shadow: inset 0 2px 2px darken(yellow, 10%)
            height: 2em
            left: 12%
            position: absolute
            top: 59%
            width: 2em
            &:first-of-type
                left: 10%
                top: 69%
            &:last-of-type
                left: 17%
                top: 89%

    .game-about
        color: rgb(180, 180, 180)
        font-size: 0.8em
        margin: 2em auto
        max-width: 80%
        text-align: center
        width: 400px
        
        p
            margin: 0.5em 0
    
#snap-stage
    background-color: rgb(255, 255, 200)
    box-shadow: inset 0 0 4px white
    display: block
    height: 100%
    margin: 2.5% auto 0 auto
    max-height: 600px
    max-width: 400px
    position: relative
    width: 90%
    
    .conductor
        fill: gold
        stroke: navy
        stroke-width: 12px
        
    .safe-zone
        fill: transparent
        stroke-width: 0